html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

#maze {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  grid-template-rows: repeat(16, 20px);
  gap: 0px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cell {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.cell:first-child {
  border-left: solid 2px black;
}

.cell:nth-child(16) {
  border-right: solid 2px black;
}

.cell:nth-child(16n + 1) {
  border-left: solid 2px black;
}

.cell:nth-child(-n+16) {
  border-top: solid 2px black;
}

.no-top {
  border-top: none;
}

.no-right {
  border-right: none;
}

.no-bottom {
  border-bottom: none;
}

.no-left {
  border-left: none;
}

.start {
  background-color: lightgreen;
}

.goal {
  background-color: lightcoral;
}

.path {
  background-color: lightblue;
}

#answer-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#answer-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}

#answer-display {
  margin-bottom: 16px;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  visibility: hidden; /* 見えない状態にするが、スペースを確保する */
  height: 30px; /* 一行の高さを確保 */
}
